.cont{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-top: 100px;
}
.btn-success{
    margin-top: 10px;
}
.offcanvas{
    display: flex;
    flex-direction: column;
    height: 250px;
    border: 2px solid wheat;
    border-radius: 10px;
    
}
