.gorw {
   margin-top: 48px;
   font-family: 'Ubuntu', sans-serif;
}

.sunil {
   color: blue;
}

.btn {
   border-radius: 20px;
   
}

.center {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

@media (max-width: 576px) {
   .gorw {
      display: flex;
      flex-direction: column;
      margin-top: 250px;
      align-items: center;
   }

   .sunil {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .lgs {
      display: flex;
      flex-direction: column;
      margin: auto
   }

   .copyright {
      float: left;
   }
}

@media (max-width: 768px) {

   .gorw {
      display: flex;
      flex-direction: column;
      margin-top: 250px;
      align-items: center;
   }

   .sunil {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .lgs {
      display: flex;
      flex-direction: column;
      margin: auto
   }

   .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}


@media (max-width: 992px) {
   .gorw {
      display: flex;
      flex-direction: column;
      margin-top: 250px;
      align-items: center;
   }

   .sunil {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .lgs {
      display: flex;
      flex-direction: column;
      margin: auto
   }

   .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 82px;
   }

}