.howtopayqr {
  display: flex;
  flex-direction: column;
  margin-top: -101px;
  margin-left: 70px;
}

.or {
  display: flex;
  justify-content: center;
  margin-top: -84px;
}

.paytmupi {
  display: flex;
  justify-content: center;
  float: right;
  margin-top: -82px;
  margin-right: 30px;
  border-bottom: 2px solid blue;
}

.howtopayupi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  margin-top: -42px;
}

@media (max-width: 1200px) {
  .or {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .paytmupi {
    margin-top: 20px;
    display: flex;
    font-size: medium;
    float: left;
  }

  .howtopayupi {
    margin-top: 5px;
     float: left;
  }
}
